<!DOCTYPE html>
    <html lang="en">
      <head><link rel="stylesheet" type="text/css" href="/assets/index.page.c673fbc5.css"><link rel="stylesheet" type="text/css" href="/assets/renderer/_default.page.client.tsx.3f29853b.css"><link rel="preload" href="/assets/logo.bebe2e90.svg" as="image" type="image/svg+xml"><link rel="modulepreload" as="script" type="text/javascript" href="/assets/vendor.06c74fdb.js">
        <meta charset="UTF-8" />
        <link rel="icon" href="/assets/logo.bebe2e90.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <meta name="keywords" content="<%= keywords %>" />
        <meta name="description" content="<%= description %>" />
        <script>(()=>{_$HYDRATION={events:[],completed:new WeakSet};const t=e=>e&&e.hasAttribute&&(e.hasAttribute("data-hk")&&e||t(e.host&&e.host instanceof Node?e.host:e.parentNode)),e=e=>{let o=e.composedPath&&e.composedPath()[0]||e.target,s=t(o);s&&!_$HYDRATION.completed.has(s)&&_$HYDRATION.events.push([s,e])};["click","input"].forEach(t=>document.addEventListener(t,e))})();</script>
      </head>
      <body>
        <div id="page-view"><div data-hk="0.0.0" style="display:flex;max-width:900px;margin:auto"><div data-hk="0.0.1.0" style="padding:20px;flex-shrink:0;display:flex;flex-direction:column;align-items:center;line-height:1.8em"><div data-hk="0.0.1.1.0" style="margin-top:20px;margin-bottom:10px"><a href="/"><img src="/assets/logo.bebe2e90.svg" height="64" width="64" alt="logo"></a></div><a data-hk="0.0.1.2" class="navitem" href="/">Home</a><a data-hk="0.0.1.3" class="navitem" href="/about">About</a></div><div data-hk="0.0.2.0" style="padding:20px;padding-bottom:50px;border-left:2px solid #eee;min-height:100vh"><div data-hk="0.0.2.1.0" class="prose"><h1>About</h1><p class="p-10">A colored page.</p></div></div></div></div>
      <script>window.__vite_plugin_ssr__pageContext = (function(a){return {_pageId:"\u002Fpages\u002Fabout\u002Findex",pageId:a,pageProps:a,documentProps:a}}(void 0))</script><script type="module" src="/assets/renderer/_default.page.client.tsx.fba7dcd2.js"></script></body>
    </html>
